from . import session, URL_BASE
from typing import Union
from pyLithoSurferAPI.REST import APIRequests
import json
import pandas as pd
import numpy as np
from .utilities import *


class {{class_name}}(APIRequests):
        
    path = URL_BASE+'{{api_address}}'

    def __init__(self,{% for arg, val in args.items() %}
                {%- if val[0] == "float" %}
                 {{arg}}: Union[float, np.float16, np.float32, np.float64] = {{val[1]}},
                {%- elif val[0] == "int"%}
                 {{arg}}: Union[int, np.int16, np.int32, np.int64] = {{val[1]}},
                {%- else %}
                 {{arg}}: {{val[0]}} = {{val[1]}},
                {%- endif %}
                {%- endfor %}
                ):
        {% for arg in args.keys() %}
        self.{{arg}} = {{arg}}{% endfor %}

    {% for arg, val in args.items() %}
    @property
    def {{arg}}(self):
        return self._{{arg}}

    @{{arg}}.setter
    def {{arg}}(self, value: {{val[0]}}):
        {%- if val[0] == "int" %}
        self._{{arg}} = int(value)
        {%- elif val[0] == "bool" %}
        self._{{arg}} = value
        {%- else %}
        self._{{arg}} = convert_{{val[0]}}(value)
        {%- endif %}
    {% endfor %}
        